.container {
  width: 380px;
  min-height: 220px;
  background-color: #FFFFFF;
  border-radius: 8px;
  position: absolute;
  top: 110px;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-header {
  width: 100%;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-header h1 {
  color: #000000;
  font-size: 19px;
  font-family: 'Manrope';
  line-height: 25px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-left: 25px;
}
.cart-header p {
  color: #000000;
  font-size: 16px;
  font-family: 'Manrope';
  line-height: 25px;
  text-decoration-line: underline;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 25px;
}
.cart-header p:hover {
  color: #D87D4A;
}

/* cart items */
.cart-items {
  width: calc(100% - 50px);
  min-height: 1px;
  max-height: 265px;
  margin-top: 10px;
  overflow-y: auto;
}
.cart-item {
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
}
.cart-item:first-child {
  margin-top: 5px;
}
.cart-item:last-child {
  margin-bottom: 5px;
}
.cart-item img {
  width: 65px;
  height: 100%;
  border-radius: 8px;
}
.cart-item .name-price {
  margin-left: 15px;
}
.cart-item .name-price p {
  color: #000000;
  font-size: 15px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}
.cart-item .name-price span {
  color: #000000;
  font-size: 14px;
  font-family: 'Manrope';
  font-weight: 700;
  line-height: 25px;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.cart-item .count-handler {
  min-width: 90px;
  height: 30px;
  background-color: #F1F1F1;
  display: flex;
  justify-content: space-around;
  align-items: center;

  color: #000000;
  font-size: 14px;
  font-family: 'Manrope';
  font-weight: 700;
}
.cart-item .count-handler span {
  font-size: 15px;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.2s;
}
.cart-item .count-handler span:hover {
  color: #D87D4A;
}

.total {
  width: calc(100% - 50px);
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.total p {
  color: #000000;
  font-size: 15px;
  font-family: 'Manrope';
  font-weight: bold;
  line-height: 25px;
  opacity: 0.5;
}
.total span {
  color: #000000;
  font-size: 18px;
  font-family: 'Manrope';
  font-weight: bold;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
}
.checkout-btn {
  width: calc(100% - 50px);
  height: 45px;
  background-color: #D87D4A;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 23px;
  margin-bottom: 30px;

  color: #FFFFFF;
  font-size: 13px;
  font-family: 'Manrope';
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.checkout-btn:hover {
  background-color: #FBAF85;
}