.container {
  width: 100%;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
header {
  width: 100%;
  height: 230px;
  background-color: #0e0e0e;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  color: #FFFFFF;
  font-size: 40px;
  font-family: 'Manrope';
  line-height: 44px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
.product {
  width: calc(100% - 200px);
  max-width: 1300px;
  height: 500px;
  display: flex;
  margin-top: 110px;
}
.product:nth-child(odd) {
  flex-direction: row-reverse;
}
.product img {
  width: 50%;
  height: 100%;
  border-radius: 8px;
}
.product div {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product div h3 {
  color: #D87D4A;
  font-size: 14px;
  font-family: 'Manrope';
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin: 5px 70px;
}
.product div h1 {
  color: #000000;
  font-size: 40px;
  font-family: 'Manrope';
  line-height: 44px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin: 15px 70px;
}
.product div p {
  color: #000000;
  font-size: 15px;
  font-family: 'Manrope';
  opacity: 0.5;
  margin: 20px 70px;
}
.product div button {
  height: 48px;
  width: 160px;
  background-color: #D87D4A;
  border: none;
  cursor: pointer;
  margin: 20px 70px;
  transition: 0.3s;

  color: #FFFFFF;
  font-size: 13px;
  font-family: 'Manrope';
  letter-spacing: 1px;
  text-transform: uppercase;
}
.product div button:hover {
  background-color: #FBAF85;
}


/* MEDIA */
@media (max-width: 1000px) {
  .product {
    width: calc(100% - 50px);
  }
}
@media (max-width: 875px) {
  .product div h3 {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 7px;
    margin: 20px 40px;
  }
  .product div h1 {
    font-size: 30px;
    letter-spacing: 1px;
    margin: 20px 40px;
  }
  .product div button, .product div p {
    margin: 20px 40px;
  }
}
@media (max-width: 650px) {
  header {
    height: 150px;
    margin-bottom: 50px;
  }
  header h1 {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 1px; 
  }
  .product, .product:nth-child(odd) {
    height: 700px;
    flex-direction: column;
    margin-top: 60px;
  }
  .product img {
    width: 100%;
    height: 300px;
  }
  .product div {
    width: 100%;
    height: 400px;
    align-items: center;
  }
  .product div h3, .product div h1, .product div p, .product div button {
    text-align: center;
    margin: 10px 0px;
  }
  .product div h3 {
    letter-spacing: 4px;
  }
  .product div h1 {
    width: 250px;
  }
  .product div p {
    width: 80%;
  }
  .product div button {
    margin-top: 30px;
  }
}
@media (max-width: 385px) {
  header {
    height: 130px;
    margin-bottom: 50px;
  }
  header h1 {
    font-size: 23px;
  }
  .product div {
    height: 350px;
  }
  .product div h3 {
    letter-spacing: 2px;
    font-size: 13px;
  }
  .product div h1 {
    font-size: 23px;
    line-height: 28px;
    width: 80%;
  }
  .product div p {
    font-size: 14px;
    width: 100%;
  }
  .product div button {
    font-size: 11px;
    height: 40px;
    margin-top: 20px;
  }
}