.container {
  width: 100%;
  height: 80px;
  background-color: #0e0e0e;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.nav-bar {
  width: calc(100% - 200px);
  max-width: 1300px;
  height: calc(100% - 1px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: auto;
}
.menu-icon {
  font-size: 22px;
  margin-left: 25px;
  cursor: pointer;
  transition: 0.3s;
  display: none;
}
.menu-icon:hover {
  color: #D87D4A;
}
.container img {
  width: 143px;
  height: 25px;
  transform: translateY(2px);
  cursor: pointer;
}
.container ul {
  display: flex;
  align-items: center;
  gap: 33px;
}
.container ul li {
  font-size: 15px;
  font-family: "Manrope";
  letter-spacing: 2px;
  text-transform: uppercase;
  list-style: none;
  cursor: pointer;
  transition: 0.3s;
}
.container ul li:hover,
.cart-icon:hover {
  color: #d87d4a;
}
.link {
  color: white;
  text-decoration: none;
}
.cart-icon-div {
  position: relative;
  cursor: pointer;
}
.cart-icon {
  font-size: 22px;
  transition: 0.3s;
}
.circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #d87d4a;
  font-size: 10px;
  font-family: "Manrope";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -9px;
  right: -9px;
}


/* MEDIA */
@media (max-width: 1000px) {
  .nav-bar {
    width: calc(100%);
  }
  .menu-icon {
    display: inherit;
  }
  .container ul {
    width: 250px;
    height: calc(100vh - 80px);
    background-color: black;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    z-index: 1;
    top: 80px;
    left: -250px;
    transition: 0.5s;
  }
  .container ul li {
    margin-left: 25px;
  }
  .link:first-child {
    margin-top: 50px;
  }
  .cart-icon-div {
    margin-right: 25px;
  }
}
@media (max-width: 450px) {
  .menu-icon {
    font-size: 18px;
  }
  .cart-icon {
    font-size: 18px;
  }
  .circle {
    width: 15px;
    height: 15px;
    font-size: 9px;
    top: -7.5px;
    right: -7.5px;
  }
  .container img {
    width: 100px;
    height: 20px;
  }

  .container ul {
    width: 100%;
    left: -100%;
    justify-content: center;
    align-items: center;
  }
  .container ul li {
    margin-left: 0px;
    font-size: 18px;
  }
  .link:first-child {
    margin-top: -50px;
  }
}